
// -----------------------------
// Migration Styles
// -----------------------------


#migrated-site {


    // Stylesheet overrides
    // -----------------------------


    // Hide header in section move mode
    .is-move-mode .template-header {
        display: none;
    }


    // Fixes broken header on the single blog page
    &.edit .blog-page.has-image .template-header {
        margin-left: auto;
        margin-right: auto;
        max-width: ~"calc(100% - 200px)";
    }


    // Removes section UI background colour
    &:not(.row-add-mode) .row-overlay:after,
    &:not(.row-add-mode) .row-overlay:before {
        background: none;
    }


    // Fixes section UI not being visible
    &.edit:not(.is-move-mode) #page-zones__main {
        overflow: visible;
    }


     // Fixes editor positoning issue with the form / navigation and basket overlays
    &.edit {
        
        &.navigation-open [data-widget-type="extendednavigation"],
        &.basket-open,
        &.form-open {
            left: 100px;
        }

        &.navigation-open .navigation-icon--container {
            left: 135px;
        }
    }


    // Section specific overides
    [data-name="row"] {


        // Fixes issue with the positoning for images breaking inside sections
        .imagewidget__figure {
            display: block;
            position: initial;
        }


        // Removes extra spacing from plugins
        .blogpostlist,
        .ecomproduct__product-content {
            padding: 0;
            
            @media @mobile-650px {
                padding: 0;
            }
        }

        .ecomproductslist__product-item,
        .ecomfeaturedproducts__product-item,
        .ecomproductslist__listing-title,
        .ecomfeaturedproducts__listing-title {
            padding-left: 0;
            padding-right: 0;
        }


        // Offset productlist spacing added by row container
        [data-name="ecomproductslist"] {
            margin-top: -50px;
            
            @media @mobile-650px {
                margin-top: -35px;
            }
        }
    }

    
    // Ecom product list page overides when inside a section
    .ecom-list-page [data-name="row"] [data-name="ecomproductlist"] {
        
        .row__container {
            padding: 0;
            width: 100%;
        }
        
        .ecomproductslist__listing-order {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
