{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="blog-page">


    <!-- Main Zone -->
    {{widget('blogpost', 'singleblogpost', {})|raw}}


    <!-- Header -->
    {% include "includes/header.twig" %}


    <!-- Smooth Scroll Arrow -->
    <a href="#main"  class="feature-scroll"></a>


    <!-- Footer -->
    {% include "includes/footer.twig" %}


</div>


{% endblock %}


{% block scripts %}

    <script>
    $(".arrow-container").click(function() {
        $('html, body').animate({
            scrollTop: $(".blogpost__post-content").offset().top
        }, 2000);
    });
    </script>

{% endblock %}
