{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="home-page">
    <div class="template-feature">


            <!-- Slideshow Widget -->
            {{widget('responsiveslideshow', 'slideshow', {
                'duration':'5',
                'transSpeed': '800',
                'transType': 'fade',
                'showButtons': false,
                'showBullets': true,
                'allowPause': false,
                'allowLoop': false,
                'crop': true,
                'images':[
            {
                'imageHeight':'auto',
                'imageWidth':'100%',
                'url':asset('images/slideshow-1.jpg')
            },
            {
                'imageHeight':'auto',
                'imageWidth':'100%',
                'url':asset('images/slideshow-2.jpg')
            }

            ]})|raw}}


            <!-- Header -->
            {% include "includes/header.twig" %}


            <a href="#main" class="feature-scroll"></a>


        </div>


        <div role="main" id="main">

            <!-- Main Zone -->
            {{zone('main')|raw}}

        </div>


        <!-- Footer -->
        {% include "includes/footer.twig" %}


</div>

{% endblock %}


{% block scripts %}

    <script>
    $(".feature-scroll").click(function() {
        $('html, body').animate({
            scrollTop: $("#main").offset().top
        }, 2000);
    });
    </script>

{% endblock %}
